.main {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  position: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  width: auto;
  height: auto;


}

.cardImage {
  width: 500px;
  height: 500px;
}