.nav {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header {
  max-width: 100%;
  height: 100px;

  header {
    background: white !important;
  }
}

.left {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h6 {
    width: 170px;
    height: 50px;
    color: black;
  }
  a {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: black;
    background: #e0e0e0;
    width: 170px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


.right {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;


  h6 {
    color: black;
  }
  svg {
    color: black;
  }
  a {
    width: 170px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    text-decoration: none;
    color: black;
    background: #e0e0e0;
    width: 170px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




@media screen and (max-width: 375px) {
  .navbar {
    width: 375px;
    header {
      width: 375px;
    }
    .header {
      width: calc(100% - 100px);
    }

  ;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 1024px;
    header {
      width: 1024px;
    }
    .header {
      width: 100%;
    }

  ;
  }
}