.nav {
  max-width: 1800px;
  width: 90%;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header {
  max-width: 100%;
  height: 100px;

  header {
    background: white;
  }
}

.left {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    width: 170px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    text-decoration: none;
    color: black;
    background: #e0e0e0;
    width: 170px;
    height: 96px;
  }
}


.right {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    width: 170px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    text-decoration: none;
    color: black;
    background: #e0e0e0;
    width: 170px;
    height: 96px;
  }
}



@media(max-width: 768px) {
  .nav{
    margin-top: 20px;
    margin-left: 3px;
  }
  .left {
    flex-direction: column;
    a{
      display: block;
      height: 22px;
      width: 170px;
    }
    a:hover {

      height: 22px;
    }
  }
  .right {
    flex-direction: column;
    a{
      display: block;
      height: 22px;
      width: 170px;
    }
    a:hover {

      height: 22px;
    }
  }
}
